@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

:host {
  font-family: var(--secondary-font-stack);
  font-weight: 400;
}

.message-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;

  p {
    text-align: center;
  }
}
