.tippy-box {

  border-radius: 0;

  .tippy-content {
    font-family: var(--secondary-font-stack);
    font-weight: normal;
    font-size: 1rem;
    padding: .5rem 1rem;
    text-align: center;

    box-shadow: .2rem .2rem 0 0 rgba(var(--pink), 1);

    a {
      color: rgba(var(--black), 1);
      text-decoration: underline;
    }
  }

  &[data-theme="phunks"] {

    background-color: rgba(var(--escrow-color), 1);
    box-shadow: none;

    .tippy-arrow {
      display: none;
      z-index: 1;

      &:before {
        color: rgba(var(--escrow-color), 1);
      }
    }

    .tippy-content {
      color: rgba(var(--black), 1);
    }
  }
}
